html{height: 100%;}
body.signin {
    height: auto;
    background:url("../img/Auth_02.png");
}

.signinpanel {
    width: 350px;
    margin: 15% auto 0 auto;
}

.signinpanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signinpanel .signin-info ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.signinpanel .form-control {
    display: block;
    margin-top: 15px;
}

.signinpanel .uname {
    /*background: url(../img/user.png) no-repeat 95% center;*/
    background-color:#F0F4F7;
    color:#a8b3bd;
    font-family: "微软雅黑";
	font-size:10px;
	font-weight: lighter;
    transition: background-color 0.2s linear;
}
//*.signinpanel .uname img{
	opacity:0.4 ;
	filter: alpha(opacity=40);
}
*//
.signinpanel .uname:hover{
background-color: #FFFFFF;	
}
.signinpanel .pword {
    /*background: url(../img/locked.png) no-repeat 95% center;*/
    background-color:#F0F4F7;
    color:#a8b3bd;
    font-family: "微软雅黑";
    font-size:10px;
    font-weight: lighter;
    transition: background-color 0.2s linear;
}
.signinpanel .pword:hover{
background-color: #FFFFFF;	
}

#submitbutton{
	border: none;
	border: 1px solid rgba(161,232,213,0.8);
	background-color:#405669;
	color:#fffff;
	font-family: "微软雅黑";
	font-size:10px;
	line-height: 16px;
	font-weight: lighter;
	text-shadow: 1px 2px 3px rgba(1,11,20,0.6);
	box-shadow: 0px 0px 16px 0px rgba(31,48,60,1);
	transition: box-shadow 0.2s linear;
}
#submitbutton:hover{
	display: block;
	box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.6);
	border: 1px solid #8199ad;
}
.signinpanel form {
    background: url("../img/Auth_02.png");
    border: 1px solid #485a69;
     box-shadow: 0px 0px 16px 2px rgba(1,11,20,0.3);
    -moz-box-shadow: 0px 0px 16px 2px rgba(1,11,20,0.3);
    -webkit-box-shadow: 0px 0px 16px 2px rgba(1,11,20,0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

.signup-footer{border-top: solid 1px #49647c;padding-top:50px;}
.copyright{
	color: #49647c;
	font-family: "微软雅黑";
	font-size: 6px;
	font-weight: lighter;
	text-shadow: 1px 2px 3px rgba(1,11,20,0.9);
}

@media screen and (max-width: 768px) {
    .signinpanel,
    .signuppanel {
        margin: 0 auto;
        width: 420px!important;
        padding: 20px;
    }
    .signinpanel form {
        margin-top: 20px;
    }
    .signup-footer {
        margin-bottom: 10px;
    }
    .signuppanel .form-control {
        margin-bottom: 10px;
    }
    .signup-footer .pull-left,
    .signup-footer .pull-right {
        float: none !important;
        text-align: center;
    }
    .signinpanel .signin-info ul {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .signinpanel,
    .signuppanel {
        margin:0 20px;
        width:auto;
    }
}
